@charset "ISO-8859-1";
*{
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;
    font-family: 'Alfa Slab One', cursive;
    box-sizing: border-box;
}
.page{
    background-color: #E4E4E4;
    width: 100%;
    height: 100%;
    position: absolute;
}
.img{
    position: absolute;
    right: 0;
    top:50%;
    transform: translate(0,-50%);
    width: 50%;
    height: 90%;
    background-image:url(hands-resting-on-open-book.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-attachment: fixed;
    border-bottom-left-radius: 80px;
    border-top-left-radius: 80px;
}
.LogoPage{
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #060A0B;

}
.logo{
    position: absolute;
    width: 40%;
    height: 25%;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-50%);
   
}
.container{
    position: absolute;
    width: 65%;
    height: 65%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 30px;

}
.leftcon
{
    position: absolute;
    width: 50%;
    height:100%;
    left: 0;
    background-color:transparent;
    border: 0.01px;
    border-style: solid;
    border-left-color:transparent ;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: #E4E4E4;

}
.rightcon{
    position: absolute;
    width: 50%;
    height:100%;
    right: 0;
    background-color:transparent;
    border: 0.01px;
    border-style: solid;
    border-left-color: #E4E4E4;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.topHeader{
    position: relative;
    width: 100%;
    height:15%;
    border: 0.5px;
    border-style: solid;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: #E4E4E4;
    border-right-color: transparent;
    display: inline-block;

}
.topHeader header{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(0,-50%);
}
.form{
	position:absolute;
	width: 100%;
	height: 100%;
}
.AreaField{
    position: relative;
    width: 100%;
    height:70%;
    display: inline-block;
}
.bottomHeader{
    position: relative;
    width: 100%;
    height:13%;
    border: 0.5px;
    border-style: solid;
    border-left-color: transparent;
    border-top-color: #E4E4E4;
    border-bottom-color: transparent;
    border-right-color: transparent;
    display: inline-flex;


}
.text{
	width:30%;
	height: 30%;
	position: absolute;
}
.bottomHeader header{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(0,-50%);
}
.bottomHeader a{
    text-decoration: none;
    color: #060A0B;
    font-family: 'Fredoka', sans-serif;
    top: 50%;
    left: 10%;
    transform: translate(0,-50%);
    position: absolute;

}
.Summarize{
    position: absolute;
    width: 150px;
    height: 30px;
    top: 50%;
    right: 5%;
    transform: translate(0,-50%);
    border: none;
    color: white;
    font-family: 'Fredoka', sans-serif;
    background-color: #060A0B;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
    background-size: 200%;
    outline: none;
}
textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    border: transparent;
    outline: none;
    font-size: 20px;
    padding: 20px;
    font-family: 'Fredoka', sans-serif;
    resize: none;
    direction: rtl;
}
#TechniquesBox{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0,-50%);
    appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'Fredoka', sans-serif;
    color: #060A0D;
    opacity:0.7;
    font-size: 15px;
}
input[type="file"]{
    text-decoration: none;
    color: #060A0B;
    font-family: 'Fredoka', sans-serif;
}
#upload {
    display: none;
    top: 10%;
    left: 5%;
    transform: translate(0,-50%);
    position: absolute;
}
.Accuracy{
	position: absolute;
	color: black;
	top: 50%;
	right: 10%;
	transform:translate(0,-50%);
	font-size: 15px;
    font-family: 'Fredoka', sans-serif;
}